<footer class="footer bg-theme2" page-name="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-3">
                <div class="footerLinkOuter d-flex flex-column gap-4">
                    <div class="footerLogo">
                        <img class="w-100" src="assets/img/logo/logo-white.png" alt="">
                    </div>
                    <div class="footerDec text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatum illo dolor veritatis, eos odit iste.</div>
                    <div class="footerSocial">
                        <ul class="p-0 m-0 list-unstyled d-flex gap-3">
                            <li class="socialLink"><a href="#" class="btnTiwtter d-flex align-items-center justify-content-center rounded-circle"><div class="socialIcon d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="assets/img/icons/twitterWhite.svg" alt=""></div></a></li>
                            <li class="socialLink"><a href="#" class="btnFacebook d-flex align-items-center justify-content-center rounded-circle"><div class="socialIcon d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="assets/img/icons/facebookWhite.svg" alt=""></div></a></li>
                            <li class="socialLink"><a href="#" class="btnInstagram d-flex align-items-center justify-content-center rounded-circle"><div class="socialIcon d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="assets/img/icons/instagramWhite.svg" alt=""></div></a></li>
                            <li class="socialLink"><a href="#" class="btnYoutube d-flex align-items-center justify-content-center rounded-circle"><div class="socialIcon d-flex align-items-center justify-content-center"><img class="w-100 h-100" src="assets/img/icons/youtubeWhite.svg" alt=""></div></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="footerLinkOuter d-flex flex-column gap-4">
                    <div class="linksHeading text-white">
                        Company
                    </div>
                    <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                        <li><a href="#" class="footerLink active text-decoration-none">About Us</a></li>
                        <li><a href="#" class="footerLink text-decoration-none">Careers</a></li> 
                        <li><a href="#" class="footerLink text-decoration-none">Customers</a></li> 
                        <li><a href="#" class="footerLink text-decoration-none">Community</a></li> 
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footerLinkOuter d-flex flex-column gap-4">
                    <div class="linksHeading text-white">
                        Resources
                    </div>
                    <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                        <li><a href="#" class="footerLink text-decoration-none">Help</a></li>
                        <li><a href="#" class="footerLink text-decoration-none">Events</a></li> 
                        <li><a href="#" class="footerLink text-decoration-none">Live sessions</a></li> 
                        <li><a href="#" class="footerLink text-decoration-none">Open sources</a></li> 
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footerLinkOuter d-flex flex-column gap-4">
                    <div class="linksHeading text-white">
                        Support
                    </div>
                    <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                        <li><a href="#" class="footerLink text-decoration-none">Tech Support</a></li> 
                        <li><a href="#" class="footerLink text-decoration-none">Network Status</a></li> 
                        <li><a href="#" class="footerLink text-decoration-none">Contact Support</a></li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cantainer-fluid">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <div class="copyRight text-white text-center  py-4 border-top">Copyrights © 2023. All rights reserved by <a href="#" class="text-white text-decoration-none">Img Global Infotech</a>.</div>
            </div>
        </div>
    </div>
</footer>