<footer class="footer" page-name="footer">
    <div class="footer-dec">
        <img src="assets/images/footer-dec.png" alt="">
      </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="about footer-item">
                <div class="logo">
                  <a href="#" class="d-block"><img class="w-100" src="assets/img/logo/logo.png" alt="Onix Digital TemplateMo"></a>
                </div>
                <a href="#" class="text-decoration-none">info@demo.digital.com</a>
                <ul class="footerSocial p-0 mb-0 list-unstyled d-flex gap-2">
                  <li><a href="#"><img  class="w-50" src="assets/img/icons/facebookWhite.svg" alt=""></a></li>
                  <li><a href="#"><img  class="w-50" src="assets/img/icons/twitterWhite.svg" alt=""></a></li>
                  <li><a href="#"><img  class="w-50" src="assets/img/icons/instagramWhite.svg" alt=""></a></li>
                  <li><a href="#"><img  class="w-50" src="assets/img/icons/youtubeWhite.svg" alt=""></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4 mt-sm-0">
              <div class="services footer-item">
                <h4>Links</h4>
                <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                  <li><a class="text-decoration-none" href="#">Home</a></li>
                  <li><a class="text-decoration-none" href="#">News</a></li>
                  <li><a class="text-decoration-none" href="#">Gallery</a></li>
                  <li><a class="text-decoration-none" href="#">Downloads</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0">
              <div class="community footer-item">
                <h4>Other Links</h4>
                <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                  <li><a class="text-decoration-none" href="#">Compliance-Document</a></li>
                  <li><a class="text-decoration-none" href="#">Branches</a></li>
                  <li><a class="text-decoration-none" href="#">Registration Proces</a></li>
                  <li><a class="text-decoration-none" href="#">Shipping Policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4 mt-lg-0">
              <div class="community footer-item">
                <h4>Other Links</h4>
                <ul class="links p-0 m-0 list-unstyled d-flex flex-column gap-2">
                  <li><a class="text-decoration-none" href="#">Privacy & Security Policy</a></li>
                  <li><a class="text-decoration-none" href="#">Tream & Condition</a></li>
                  <li><a class="text-decoration-none" href="#">Delivery</a></li>
                  <li><a class="text-decoration-none" href="#">Cancellation/Refund Process</a></li>
                </ul>
              </div>
            </div>
            <!-- <div class="col-lg-3">
              <div class="subscribe-newsletters footer-item">
                <h4>Subscribe Newsletters</h4>
                <p>Get our latest news and ideas to your inbox</p>
                <form action="#" method="get">
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                  <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane-o"></i></button>
                </form>
              </div>
            </div> -->
            <div class="col-lg-12">
              <div class="copyright">
                <p class="pb-0">Copyright © 2021 Demo. Digital, Ltd. All Rights Reserved. 
                <br>
                Designed by <a rel="nofollow" href="" title="free CSS templates">IMG Global Info.</a></p>
              </div>
            </div>
          </div>
        </div>
</footer>