
.btnStyle1 {
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 12px;
    width: fit-content;
    &.loginBtn{
        & .icon {
            width: 18px;
            height: 18px;
        }
    }
}
@media (max-width: 991px){
    .btnStyle1 {
        height: 34px;
        padding: 0 24px !important;
    }
}
