
.btnStyle1 {
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 12px;
    width: fit-content;
    &:disabled, &.disabled {
        & .afterText {
            display: block !important;
        }
        & .beforeText {
            display: none !important;
        }
    }
    & .icon {
        width: 16px;
        height: 16px;
    }
}
@media (max-width: 991px){
    .btnStyle1 {
        height: 34px;
    }
}
@media (max-width: 575px){
    .btnStyle1 {
        &.exportBtn {
            &:disabled, &.disabled {
                & .afterTextOnly {
                    display: none !important;
                }
                & .beforeText {
                    display: none !important;
                }
            }
        }
    }
}

