
.btnStyle1 {
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 12px;
    width: fit-content;
    &:disabled, &.disabled {
        & .afterText {
            display: block !important;
        }
        & .beforeText {
            display: none !important;
        }
    }
    & .icon {
        width: 15px;
        height: 15px;
    }
}
@media (max-width: 991px){
    .btnStyle1 {
        height: 34px;
        padding: 0 24px !important;
    }
}
