.navbar {
    min-height: 80px;
    height: 80px;
    & .navbar-brand {
        width: 130px;
        & img {

        }
    }
    & .navbar-toggler {
        & .navbar-toggler-icon {

        }
    }
    & .navbar-collapse {
        & .navbar-nav {
            & .nav-item {
                & .nav-link {
                    font-size: 14px;
                    font-weight: 500;
                    color: $dark;
                    text-transform: uppercase;
                    position: relative;
                    letter-spacing: 1px;
                    transition: ease-in-out .3s;
                    padding-right: 16px;

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        border-top: 2px solid $theme1;
                        margin-top: 6px;
                        position: absolute;
                        left: 0;
                        transition: ease-in-out .3s;
                    }
                    &.active, &:hover {
                        color: $theme1;
                        &:after {
                            width: 100%;
                        }
                    }
                }
                &.dropdown{
                    & .nav-link {
                        &:before {
                            display: block;
                            content: "";
                            border-top: 0.3em solid;
                            border-right: 0.3em solid rgba(0,0,0,0);
                            border-bottom: 0;
                            position: absolute;
                            right: 5px;
                            top: 16px;
                            border-left: 0.3em solid rgba(0,0,0,0);
                        }
                    }
                    & .dropdown-menu {
                        & .dropdown-item{
                            font-size: 13px;
                            padding: 6px 16px;
                            outline: none;
                            &:hover, &:active {
                                color: $theme1;
                            }
                            &:active {
                                background: $theme1;
                                color: #fff;
                            }
                        }
                    }
                    &.brands {
                        & .dropdown-menu {
                            & .dropdown-item {
                                & img {
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.offcanvas {
    &.offcanvas-start{
        &.mobileHeader {
            & .offcanvas-header {
               & .offcanvas-title{
                   width: 120px;
               }
               & .btn-close{
                   font-size: 12px;
               }
            }
            & .offcanvas-body {
               & .mobileMenu {
                   & .navbar-nav {
                       & .nav-item {
                           & .nav-link {
                               font-size: 14px;
                               font-weight: 500;
                               color: $dark;
                               text-transform: uppercase;
                               position: relative;
                               letter-spacing: 1px;
                               transition: ease-in-out .3s;
                               padding-right: 16px;
                               display: flex;
                               align-items: center;
                               gap: 5px;
           
                               &:before {
                                   content: '';
                                   display: block;
                                   width: 0;
                                   border-top: 2px solid $theme1;
                                   transition: ease-in-out .3s;
                               }
                               &.active, &:hover {
                                   color: $theme1;
                                   &:before {
                                       width: 20px;
                                   }
                               }
                           }
                            & .collapseOuter {
                                & .collapseItem {
                                    font-size: 12px;
                                    color: $dark;
                                    padding: 6px 16px;
                                    &:before {
                                    content: '';
                                    display: block;
                                    width: 0;
                                    border-top: 2px solid $theme1;
                                    transition: ease-in-out .3s;
                                    }
                                    &.active, &:hover, &:active {
                                        color: $theme1;
                                        &:before {
                                            width: 15px;
                                        }
                                    }
                                }
                            }
                            &.brands {
                                & .collapseOuter {
                                    & .collapseItem {
                                        & img {
                                            width: 100px;
                                        }
                                    }
                                }
                            }
                           }
                    //    }
                   }
               }
            }
        }
    }
}